<%
  @title = @user.display_name
  @page_header_title = @user.display_name
%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <dl class="dl-horizontal">
      <dt>First Name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last Name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>

    <%= link_to t(".edit_user"), edit_user_path(@user), class: "btn btn-default btn-full" %>
  </div>
</div>
